@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

*,
:after,
:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

body {
  position: relative;
  font-family: Lato, sans-serif;
  background: #fbfbfb;
}

figcaption {
  padding: 5px 0 10px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.responsive {
  width: 100%;
  height: auto;
}

[data-visible="true"] {
  display: block;
}

[data-visible="false"] {
  display: none;
}

#description {
  position: fixed;
  bottom: 0;
  padding: 20px;
  color: #fff;
  background: #000000;
  width: 100%;
  text-align: center;
  z-index: 20;
  left: 0;
}

.animation-on {
  -webkit-animation: animation-on 300ms ease;
  animation: animation-on 300ms ease;
}

.animation-off {
  -webkit-animation: animation-off 300ms ease forwards;
  animation: animation-off 300ms ease forwards;
}

@-webkit-keyframes animation-on {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animation-on {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes animation-off {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes animation-off {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}